<section>
  <form>
    <input
      class="inline-block w-[30%] mr-1 p-2.5 rounded-lg border-2"
      type="text"
      placeholder="Filter by city"
      #filter
    />
    <button
      class="bg-red-600 text-white p-2.5 rounded-lg"
      type="button"
      (click)="filterResults(filter.value)"
    >
      Search
    </button>
  </form>
</section>

<section class="results">
  <app-housing-location
    *ngFor="let housingLocation of filteredLocationList"
    [housingLocation]="housingLocation"
  ></app-housing-location>
</section>
